.about {
   display: block;
   width: 100%;
   background-color: var(--BG-color-white);
}

.about__wrap {
   max-width: 100%;
   padding: 190px 20px;
}

.about__content {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: start;
   row-gap: 30px;
}

.about__text-block {
   display: inline-block;
   max-width: 47.5%;
   font-weight: 300;
   line-height: 18px;
   letter-spacing: 0.6px;
}

/* sm: 576px, md: 768px, lg: 992px, xl: 1200px, */
@media (max-width: 1200px) {
   .about__wrap {
      padding: 150px 20px;
   }
}

@media (max-width: 992px) {
   .about__wrap {
      padding: 120px 20px;
   }
}

@media (max-width: 768px) {
   .about__wrap {
      padding: 100px 20px;
   }
}

@media (max-width: 576px) {
   .about__wrap {
      padding: 80px 20px;
   }

   .about__text-block {
      display: block;
      max-width: 100%;
   }
}